{
  "name": "Hellknight",
  "textures": [
    {
      "diffuse": "bodyDiffuse",
      "normal": "bodyNormal",
      "specular": "bodySpecular"
    },
    {
      "diffuse": "salivaDiffuse",
      "normal": "salivaSpecular",
      "specular": "salivaSpecular"
    },
    {
      "diffuse": "droolDiffuse",
      "normal": "droolSpecular",
      "specular": "droolSpecular"
    },
    {
      "diffuse": "tongueDiffuse",
      "normal": "tongueNormal",
      "specular": "tongueSpecular"
    }
  ]
}
